* {
  box-sizing: border-box;
}

body {
  margin: 15px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.container-image, .container-image > img {
  height: 124px;
}

.container-image {
  border-radius: 12px;
  overflow: hidden;
}

.container-cv, .container-languages {
  min-height: 124px;
}

main {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

footer {
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  column-gap: 20px;
}

h1 {
  margin: 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 104%;
}

h2 {
  margin: 0px;
  font-size: 14px;
  line-height: 150%;
}

h3 {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 124px;
  padding: 12px;
  background: #F0F0F0;
  border-radius: 12px;
  overflow: hidden;
}

.container-cv {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.font-10p-m-150lh {
  font-size: 10px;
  line-height: 150%;
}

.font-10p-m-104lh {
  font-size: 10px;
  line-height: 104%;
}

.font-10p-r-150lh {
  font-size: 10px;
  line-height: 150%;
  font-weight: 400;
}

.font-8p-m-150lh {
  font-size: 8px;
  line-height: 150%;
}

.font-8p-r-150lh {
  font-size: 8px;
  line-height: 150%;
  font-weight: 400;
}

.font-5p-m-142lh {
  font-size: 5px;
  line-height: 142%;
}

.cv-role {
  font-size: 12px;
  line-height: 150%;
  color: #5C5C5C;
}

.container-languages {
  flex: 1;
}

.languages-list {
  display: grid;
  grid-template-columns: 58px auto;
  align-items: center;
  grid-column-gap: 17px;
  grid-row-gap: 10px;
}

.language-progress {
  height: 11px;
  background: #28D979;
  width: 100%;
  border-radius: 3px;
}

.experiences-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-small {
  display: flex;
  gap: 8px;
  border-radius: 10px;
  padding: 8px;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
}

.experiences-list > .container-small:first-of-type, .education-wrapper:first-of-type > .container-small {
  background: #28D979;
  color: #fff;
}

.container-small-header {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 100% min-content;
  gap: 4px;
}

.job-current-mark {
  padding: 2px 6px;
  background: rgb(126, 155, 18, 0.4);
  border-radius: 59px;
  width: 61px;
  overflow: hidden;
  text-wrap: nowrap;
}

.job-position {
  display: flex;
  flex-direction: column;
}

.position-name {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.job-description {
  display: grid;
  grid-template-columns: 124px calc(100% - 132px);
  column-gap: 8px;
}

.job-points-list {
  margin: 0px;
  padding: 0px;
  padding-left: 14px;
}

.container-tools {
  width: 124px;
  padding: 12px 12px 3px 12px;
}

.tools-list {
  display: flex;
  gap: 11px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-experiences {
  flex: 1;
}

.img-tools {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 76px;
  border-radius: 6px;
  padding: 16px 4px;
  background: #fff;
}

.img-tools > h3 {
  max-width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 0;
  background: #000;
  color: #fff;
  border-radius: 59px;
  padding: 2px 6px;
  text-wrap: nowrap;
  overflow: hidden;
}

.img-tool-block {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.img-tool-block-once {
  justify-content: unset;
  margin-left: 7px;
}

.education-tag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  margin-top: -4px;
  column-gap: 2px;
  overflow: hidden;
}

.education-description {
  display: grid;
  grid-template-columns: minmax(116px, auto) minmax(116px, auto);
  column-gap: 16px;
  row-gap: 12px;
}

.education-tag-list-text-color {
  color: #149063;
}

.interest-list {
  display: flex;
  gap: 8px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  flex-wrap: wrap;
}

.interest-list > li {
  background: #fff;
  padding: 4px 10px;
  border-radius: 40px;
  overflow: hidden;
}

.combine-interest-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-contact {
  height: 100%;
  background: #000;
  color: #fff;
  gap: 11px;
  flex: 1;
}

.container-contact > a {
  text-decoration-line: none;
  color: #fff;
}

.experiences-container {
  grid-template-columns: calc(100% - 61px) 61px;
}

.education-container {
  grid-template-columns: calc(100% - 15px) 11px;
}

@media screen and (max-width: 590px) {
  main {
    flex-direction: column;
  }

  footer {
    grid-template-columns: 100%;
    row-gap: 20px;
  }

  .container-cv {
    flex: 1;
  }

  .container-languages {
    flex-basis: 100%;
  }

  .container-tools {
    padding: 12px;
    width: 100%;
  }

  .tools-list {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .img-tools {
    min-height: 111px;
  }
}

@media screen and (max-width: 370px) {
  .job-description {
    grid-template-columns: auto auto;
  }

  .education-description {
    grid-template-columns: auto;
  }
}